.container
  %br/
  .tenders{id: "tenders_all"}
    .label.label-info="Всего тендеров:"
    .badge=@tenders.count

  .tenders_active_now{id: "tenders_active_now"}
    -if @tenders_active_now.count == 0
      .label.label-warning="Нет активных процедур"
    -else
      .label.label-warning="Активных процедур:"
      .badge.badge-warning=@tenders_active_now.count

  .tenders_unfinished{id: "tenders_unfinished"}
    - if @tenders_unfinished.count == 0
      .label.label-success="Нет не закрытых процедур"
    -else
      .label.label-info="Не закрытых процедур:"
      .badge.badge-important=@tenders_unfinished.count
  %br/
  .import_last{id: "import_last"}
    = button_tag  "Импорт от: #{ActiveSupport::TimeZone['Samara'].at(@import_last.time_to).to_formatted_s(:short)}", class: "btn btn-xs btn-info", id: "import_button"
  #circleG{ style: 'display: none;' }
    #circleG_1.circleG
    #circleG_2.circleG
    #circleG_3.circleG

  #authForm{:style => "display: none;"}
    %form
      .form-group
        %input.form-control{:name => "login", :placeholder => "Логин", :type => "text"}/
      .form-group
        %input.form-control{:name => "password", :placeholder => "Пароль", :type => "password"}/
      %button.btn.btn-primary.auth-submit{:type => "submit"} Войти
      %a.auth-register{:href => "https://templates-from-api-24tender.herokuapp.com", :target => "_blank"} Регистрация
  #error_box{:style => "display: none;"}
    .alert.alert-danger{:role => "alert"}
  -# .js_box.js_view_box
  -#   .progressBar
  -#     .progressIndicator
  -#       %div
  -#         %span.progressPercent> 0
  -#         \% готово
  -#       .progressLineBack
  -#         .progressLineFill
  -#     %button.talk_is_over.btn.btn-primary Разговор окончен
  -#   .script-target
  -#     %span.glyphicon.glyphicon-record>
  -#      Цель: 
  -#     %span.target-content
  -#   .log
  -#   .view_box_sidebar
  -#     .js_starred_box
  -#       %h4 Быстрые переходы
  -#     .js_outnotes_box
  -#       %h4 Заметки
  -#       .outnotes_box-search
  -#         %input.form-control.input-sm{:placeholder => "Поиск", :type => "text"}/
  -#         %span.glyphicon.glyphicon-remove.js_outnotes_box-reset
  -#       .outnotes_box-view.hidden
  -#         .outnotes_box-view-close.close ×
  -#         %h5.outnotes_box-title
  -#         .outnotes_box-content
  -#       .outnotes_box-recommend
  -#         %h5 Рекомендованные
  -#       %h5.outnotes_box-other.hidden Остальные
  -#     .js_outfields_box
  -#       %h4 Данные
  -# %ul#scriptList
  -# #maximize{:style => "display: none;"}
  -#   %span.current-script
  -#   %button.btn.btn-primary.do-maximize{:type => "submit"} Развернуть
